.container {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display{
    border: 1px solid black;
    width: 165px;
    height: 25px;
    border-radius: 5px;
    text-align: right;
    font-size: 20px;
    display: block;
    height: 25px;
    margin-bottom: 10px;
}

.button{
    width: 35px;
    height: 35px;
    margin: 4px;
}